#wpmupbi_meta{
    overflow: hidden;
    padding-bottom: 1em;
}
 
#wpmupbi_meta p{
    clear: both;
}
 
.wpmupbi-row-title{
    display: block;
    float: left;
    width: 200px;
}
 
.wpmupbi-row-content{
    float: left;
    padding-bottom: 1em;
}
 
.wpmupbi-row-content label{
    display: block;
    line-height: 1.75em;
}
